
{{> post-info post}}

<form class="comment-form">
  <div>
    <h3>Add comments</h3>
  </div>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>