<section>
  <a href="/dashboard/add"><button id="addPost-btn">Add Post</button></a>
</section>

<section>
  <h2>Your Posts</h2>

  {{#if posts.length}}
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-brief-info post}}
    </li>
    {{/each}}
  </ol>
  {{else}}
  <h4 id="no-post-message">You have no existing post.</h4>
  {{/if}}

</section>


